@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

main {
  @media only screen and (min-width: 768px) {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    max-height: 100vh;
  }
}

section {
  @media only screen and (min-width: 768px) {
    scroll-snap-align: start end;
  }
}
